p{background-color: black; color: cornsilk;
font-size: x-large;}
h1{text-align: center;
    background-color:black; color: red;
font-style: oblique;
font-size: 50px;}
h2{
    color: white;
}
h3{
    color: white;
}
body{background: rgb(0, 0, 0);}
button{font-weight: bold;
font-style: oblique;
font-family:'Courier New', Courier, monospace;
color: rgb(5, 63, 255);}
li{color : black;}
.left{
    float: left;
}

aside{float: right;}
/* Style for the "Like" button */
#likeButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#likeButton:hover {
    background-color: #0056b3;
}

/* Style for the comment section */
#comments {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    max-height: 300px;
    overflow-y: auto;
}

#commentForm {
    margin-top: 20px;
}

#comment {
     color: white;
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#commentForm button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#commentForm button[type="submit"]:hover {
    background-color: #0056b3;
}
